# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11+cpu
transformers
nltk
azure-identity==1.12.0
langchain==0.0.186
openai==0.26.4
azure-search-documents==11.4.0b3
azure-storage-blob==12.14.1
redis==4.5.4
typing-inspect==0.8.0
typing_extensions==4.5.0